<a href="https://colab.research.google.com/github/anjanay-anjanay/all_about_python/blob/main/ClassWork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#basic datatypes 

n_int = 3022
print(type(n_int))

n_float= 50.9
type(n_float) 

pi_float = 3.145
print(pi_float)
type(pi_float)

<class 'int'>
3.145

float

In [ ]:
#Numeric Operations

n1=4
n2=5
n3=6
n4=7
n5=8

n11= n3+n2-n1
print(n11) #add and subs

n12 = (n3*n4)/n5
print(n12) #mul and div

n13= n12 ** n1
print(n13) #expo and power

n14= round(n13, 2) #rounding off till two places
print(n14)

n15= round(n13, 0)
print(n15)

7
5.25
759.69140625
759.69
760.0

In [ ]:
#strings attached

str_single_q = 'Anjanay'
str_double_q = "Ankit's"
str_triple_q = '''Anjanay"s and Ankit's'''
str_empty = ''

print(str_empty)
print(str_empty)
print(str_empty)
print(str_empty)


type(str_single_q)
type(str_double_q)
type(str_triple_q)

str

In [ ]:
#Strings Operations
message= 'The quick brown fox jumps over a lazy dog'

m_len= len(message)

print(m_len)
print(message[4])
print(message[-8])

print(message[0:24])
print(message[:42])

print(message[:20] + message[20:])


#printing in reverse oreder
print(message[::-1])

#converting string into list with the individual characters
n_list = list(message)
print(n_list)

41
q
l
The quick brown fox jump
The quick brown fox jumps over a lazy dog
The quick brown fox jumps over a lazy dog
god yzal a revo spmuj xof nworb kciuq ehT
['T', 'h', 'e', ' ', 'q', 'u', 'i', 'c', 'k', ' ', 'b', 'r', 'o', 'w', 'n', ' ', 'f', 'o', 'x', ' ', 'j', 'u', 'm', 'p', 's', ' ', 'o', 'v', 'e', 'r', ' ', 'a', ' ', 'l', 'a', 'z', 'y', ' ', 'd', 'o', 'g']

In [ ]:
#boolean type

first = True
print(type(first))

second = False
print(type(second))

c = first & second
print(c)

d = first | second
print(d)

#playing with logical operators
print(not d)

#playing with none
no = None
type(no)

no = 5
print(type(no),no)

<class 'bool'>
<class 'bool'>
False
True
False
<class 'int'> 5

In [ ]:
#Range Working
#by default it is starting from 0 and incrementing by 1 with exclusion of 5
r1 = range(5)
print(r1)
print(type(r1))
print(list(r1))

#bs aise hi for loop sexy lg rha tha
for i in r1:
  print(i)

#passing parameter in range 
#starting from 0 and incrementing by 2 along with exclusion of 10
r2 = range(0,10,2)
print(list(r2))

r3 = range(10,0,-1)
print(list(r3))

range(0, 5)
<class 'range'>
[0, 1, 2, 3, 4]
0
1
2
3
4
[0, 2, 4, 6, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#List working 

#empty list
list0 = []
print(type(list0),list0)

#simple list
list1 = [12,24,22,45,5,2,23]

#complex list
list2 = [13,"Anmol",45,"Rahul","Mayank",34,None,[True, False]]
type(list2)

#length of list
len0 = len(list0)
print(len0)
len1 = len(list1)
print(len1)
len2 = len(list2)
print(len2)

#extraction -1 is the last element
print(list1[3],list2[3],list1[-2],list2[-1],list2[len(list2)-3]) #yaha length nikal kr minus krrhe

#replacing
list1[2] = "Anjanay"
print(list1)
list2[1:3] = ["Anmol++" , 786]
print(list2)

#insert at first position
list1.insert(0,2022)
print(list1)

#appending ---will happen at last position
new_list="ankita"
list1.append(new_list)
print(list1)

#extending list with multiple new item in the last position
new_list1= ["mohit","pankaj",89]
list1.extend(new_list1)
#list1.append(new_list)
print(list1)

#removing specific element from the list
list1.remove('ankita')
print(list1)

#removing 3rd elment with the help of position
list1.pop(2)
print(list1)

#removing multiple element by Index from starting point
del list1[:5]
print(list1)

#removing all the elements from the list
list1.clear()
print(list1)


list3 = [678,890,764,2,3,90,786]

#just to reverse
list3.reverse()
print(list3)

list3[::-1] #another way to reverse
print(list3)

#sorting in the descending order
list3.sort(reverse=True)
print(list3)

#for ascending order short cut mt apnana jb tk zarurat na ho
list3.sort()
print(list3)

#joining two lists
list4 = list2 + list3
print(list4)

<class 'list'> []
0
7
8
45 Rahul 2 [True, False] 34
[12, 24, 'Anjanay', 45, 5, 2, 23]
[13, 'Anmol++', 786, 'Rahul', 'Mayank', 34, None, [True, False]]
[2022, 12, 24, 'Anjanay', 45, 5, 2, 23]
[2022, 12, 24, 'Anjanay', 45, 5, 2, 23, 'ankita']
[2022, 12, 24, 'Anjanay', 45, 5, 2, 23, 'ankita', 'mohit', 'pankaj', 89]
[2022, 12, 24, 'Anjanay', 45, 5, 2, 23, 'mohit', 'pankaj', 89]
[2022, 12, 'Anjanay', 45, 5, 2, 23, 'mohit', 'pankaj', 89]
[2, 23, 'mohit', 'pankaj', 89]
[]
[786, 90, 3, 2, 764, 890, 678]
[786, 90, 3, 2, 764, 890, 678]
[890, 786, 764, 678, 90, 3, 2]
[2, 3, 90, 678, 764, 786, 890]
[13, 'Anmol++', 786, 'Rahul', 'Mayank', 34, None, [True, False], 2, 3, 90, 678, 764, 786, 890]

In [ ]:
#tuple working
#it is immutable that is not editable

tup1 = (34,'anjali',78,'joey',998)
print(tup1)
type(tup1)

#editing tuple with the help of list 
#don't start any number with 0 like 03

list1= list(tup1)
list2= ["Rajeev","Kumar",89,900]
list1.extend(list2)
tup1= tuple(list1)
print(tup1)

(34, 'anjali', 78, 'joey', 998)
(34, 'anjali', 78, 'joey', 998, 'Rajeev', 'Kumar', 89, 900)

In [ ]:
#set working
#works for unique element

s = {0,1,2,3,4,5,6,4,4,'anjanay'}
type(s)

s1 = {4,9,0,6,4}
s2 = {5,8,9,0,6,4,3,2}

s12_union=s2.union(s1)
print(s12_union)

#another way for union
s12_union1= s1|s2
print(s12_union1)

s12_inter= s1.intersection(s2)
print(s12_inter)

#another way for intersection
s12_inter1 = s1 & s2
print(s12_inter)


#difference between two sets
#mtlb jo common element h wo hat jayega
s12_diff = s2.difference(s1)
print(s12_diff)

#another way
s12_diff1 = s2 - s1
print(s12_diff1)

#adding new unique element in set and it accepts only one argument
s12_diff1.add(6)
print(s12_diff1)

{0, 2, 3, 4, 5, 6, 8, 9}
{0, 2, 3, 4, 5, 6, 8, 9}
{0, 9, 4, 6}
{0, 9, 4, 6}
{8, 2, 3, 5}
{8, 2, 3, 5}
{2, 3, 5, 6, 8}

In [ ]:
#dictionary working
#key-value pair

dic1={"Name": "Anjanay", "Age": 25, "Gender": "Male", "Phone Number": 834016747474}
type(dic1)

#Listing all the keys
print(dic1.keys())
#Listing all the values
print(dic1.values())


print(dic1['Name'])#getting value from key

#updating the age
dic1['Age'] = 25.5
print(dic1)

#updating dic with new KV pair
dic1.update({"Birth Place" : "Patna"})
print(dic1)

#removing key along with the value
dic1.pop("Gender")
print(dic1)

dict_keys(['Name', 'Age', 'Gender', 'Phone Number'])
dict_values(['Anjanay', 25, 'Male', 834016747474])
Anjanay
{'Name': 'Anjanay', 'Age': 25.5, 'Gender': 'Male', 'Phone Number': 834016747474}
{'Name': 'Anjanay', 'Age': 25.5, 'Gender': 'Male', 'Phone Number': 834016747474, 'Birth Place': 'Patna'}
{'Name': 'Anjanay', 'Age': 25.5, 'Phone Number': 834016747474, 'Birth Place': 'Patna'}

In [ ]:
#Input and Output operations

num = input("Please enter a number ")
num = int(num)
num += 1
print(num)

name="Anjanay Anjanay"
print("Hello! "+name)
print("hey boi!: ",name)
print(f'Hello {name}!, How are ya ?')

Please enter a number 66
67
Hello! Anjanay Anjanay
hey boi!:  Anjanay Anjanay
Hello Anjanay Anjanay!, How are ya ?