<a href="https://colab.research.google.com/github/anjanay-anjanay/all_about_python/blob/main/Tutorials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello Anjanay welcome to google colab")

Hello Anjanay welcome to google colab

In [ ]:
#mini calculator

first = input("Please enter 1st number : ")
operator = input("Please choose the operator +,-,*,/,% : ")
second = input("Please enter 2nd number : ")

first = int(first)
second = int(second)

if operator == "+":
  print("The sum of two numbers is: ",first+second)
elif operator == "-":
  print("The subtraction of two numbers is: ",first-second)
elif operator == "*":
  print("The multiplication of two numbers is: ",first*second)
elif operator == "/":
  print("The division of two numbers is: ",first/second)
elif operator == "%":
  print("The remainder is: ",first%second)
else:
  print("Invalid selection")

Please enter 1st number : 15
Please choose the operator +,-,*,/,% : %
Please enter 2nd number : 4
The remainder is:  3

In [ ]:
num = range(7)
print(num)

range(0, 7)

In [ ]:
#while loop example
i = 0
while i <= 10:
  print(i)
  i += 2

0
2
4
6
8
10

In [ ]:
#star pattern example using while loop
i = 1
while i <=5:
  print(i * '*')
  i += 1

*
**
***
****
*****

In [ ]:
i = 5
while i >= 0:
  print(i * '*')
  i -= 1

*****
****
***
**
*

In [ ]:
#for loop example
for item in range(7):
  print(item + 2)

2
3
4
5
6
7
8

In [ ]:
#List example []

things = ['Bag','Copy','Pen','Pencil']
marks = [53,58,85]

print(things)
print(marks)

#Positioning of list element
print(things[0] , marks[2])
print(things[-2], marks[-2])

#fetch in a certain interval where higher range is ignored
print(things[1:3])
print(marks[0:3])

#insert and append functions
marks.append(78)
marks.append(89)
marks.insert(0,55)

print(marks)
print(99 in marks)
print("The total number of items in the marks list :", len(marks))
print("The total number of items in the things list :", len(things))

#implementation of the for loop
for item in things:
  print("\n",item)

for item in marks:
  print(marks[0]+marks[1]+marks[2])

#implementation of while loop in list

i = 0
while i < len(marks):
  print("\n")
  print(marks[i])
  i += 1

#clear function for deleting all the items in the list
marks.clear()
print(marks)

['Bag', 'Copy', 'Pen', 'Pencil']
[53, 58, 85]
Bag 85
Pen 58
['Copy', 'Pen']
[53, 58, 85]
[55, 53, 58, 85, 78, 89]
False
The total number of items in the marks list : 6
The total number of items in the things list : 4

 Bag

 Copy

 Pen

 Pencil
166
166
166
166
166
166


55


53


58


85


78


89
[]

In [ ]:
#Break and Continue example

friends = ['anmol','arnab','anisha','anjanay','eric']

for person in friends:
  if person == 'anjanay':
    break
  print(person)

print("\n")

for person in friends:
  if person =='anisha':
    continue
  print(person)

print("\nWhile loop operation")

i=0
while i < len(friends):
  if friends[i] == 'anjanay':
    break
  print(friends[i])
  i+=1
  
print("\nWhile loop operation")
i=0
while i < len(friends):
  if friends[i] == 'anisha':
    i+=1
    continue
  print(friends[i])
  i+=1

anmol
arnab
anisha


anmol
arnab
anjanay
eric

While loop operation
anmol
arnab
anisha

While loop operation
anmol
arnab
anjanay
eric

In [4]:
# Tuple operation: Tuple in immutable as it can't be changed in later stages

marks = (45,34,67,74,34,67,34)

#to count number of occurences
print(marks.count(34))

#to print the indexing
print(marks.index(34))


#[] : list mutable
#() : tuple immutable
#{} : sets no duplication allowed

3
1

In [7]:
#Set operation

marks = {23,45,43,56,46,45}

print(marks)

# print(marks[0]) it will give error as items in sets have no sequence


for item in marks:
  print(item)

{43, 45, 46, 23, 56}
43
45
46
23
56

In [3]:
#Dictionary operation
#key-value pair
marks = {"English":81, "Physics":45, "Maths": 57, "Physical Education": 97, "Chemistry":67}

print(marks)

marks["Physics"] = 78

print(marks)
print(marks["Physics"])

{'English': 81, 'Physics': 45, 'Maths': 57, 'Physical Education': 97, 'Chemistry': 67}
{'English': 81, 'Physics': 78, 'Maths': 57, 'Physical Education': 97, 'Chemistry': 67}
78

In [6]:
#Functions


#working of module function
from math import sqrt
print(sqrt(81))

#working of user defined functions with two parameters

def add_num(first, second):
  print(first+second)

num1= input("Enter 1st number ")
num2= input("Enter 2nd number ")

num1= int(num1)
num2= int(num2)

add_num(num1,num2)

9.0
Enter 1st number45
Enter 2nd number45
90

In [8]:
#User defined function with 1 fixed parameter

def multi_num(num1, num2 = 5):
  print(num1*num2)
first= input("Enter 1st number ")
#num2= input("Enter 2nd number ")

first= int(first)
#num2= int(num2)
#function will take 5 if there is no other parameters are given
multi_num(first,4)

Enter 1st number 7
28

In [12]:
# User defined funtions with no parameters

def print_msg():
  print("I love my India")
print_msg()

def print_msg(string1):
  print("This is the secret message : " + string1)
print_msg("hollywood")

I love my India
This is the secret message : hollywood